<!DOCTYPE html>
<html   
        lang="es"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}" >
<head>
    <title>Agregar Producto</title>
    
</head>
<body>
    <div layout:fragment="main-header">
        <br>
        <h1 class="mt-5 text-center"><strong>Agregar producto</strong></h1>
    </div>
    <div layout:fragment="main-content">
        <article>
            <div class="row">
                <div class="col-md-5 mx-auto my-2">
                    <div class="card border-secundary">
                        <div class="card-body">
                            <form th:action="@{/guardar}" method="POST">
                                <!--Nombre del producto-->
                                <div class="form-group">
                                    <label for="nombre">Nombre del producto</label>
                                    <input type="text" class="form-control"  aria-label="Small" placeholder="Nombre del producto" id="nombre" name="nombre"/>
                                    <div class="text-danger">
                                    </div>
                                </div>
                            
                                <!--Tipo de producto-->
                                <div class="form-group">
                                    <label for="productType">Tipo de Producto:</label>
                                        <select id="productType" class="form-control" name="productType" required >
                                            <option value="Perecedero">Perecedero</option>
                                            <option value="Empacar">para empacar</option>
                                        </select> 
                                    <div class="text-danger">
                                    </div>
                                </div>
                                <!-- Fecha de caducidad -->
                                <div class="form-group">
                                    <label for="expiracion">Fecha de Caducidad:</label>
                                    <input type="date" class="form-control " id="expiracion" name="expiracion"/>
                                    <div class="text-danger">
                                    </div>
                                </div>
                                <!-- Fecha -->
                                <div class="form-group">
                                    <label for="adquisicion">Fecha de Adquisicion:</label>
                                    <input type="date" class="form-control" id="adquisicion" name="adquisicion" required />
                                    <div class="text-danger">
                                    
                                    </div>
                                </div>
                            
                                <!--Cantidad en existencia-->
                                <div class="form-group">
                                    <label for="cantidad">Cantidad en existencia</label>
                                    <input type="number" class="form-control"  aria-label="Small" name="cantidad" id="cantidad"  placeholder="Stock Existente"/>
                                    <div class="text-danger">
                                    </div>
                                </div>
                                <!--Medida-->
                                <div class="form-group">
                                    <label for="medida">Medida:</label>
                                    <select id="medida" name="medida" class="form-control" required >
                                        <option value="g">Gramos</option>
                                        <option value="kg">Kilogramos</option>
                                        <option value="ml">Mililitros</option>
                                        <option value="l">Litros</option>
                                        <option value="p">Pieza(s)</option>
                                    </select>
                                    <div class="text-danger">
                                    
                                    </div>
                                </div>
                                <!--Precio-->
                                <div class="form-group">
                                    <label for="precio">Precio</label>
                                    <input type="number" id="precio" name="precio" class="form-control"  aria-label="Small" placeholder="Precio del Producto">
                                    <div class="text-danger">
                                    
                                    </div>
                                </div>
                                <!--Nombre del provedor-->
                                <div class="form-group">
                                    <label for="Pnombre">Nombre del Proveedor:</label>
                                    <input type="text" class="form-control"  aria-label="Small" id="Pnombre" name="Pnombre" placeholder="Proveedor del Producto" >
                                    <div class="text-danger">
                                    
                                    </div>
                                </div>
                                <!--Descripcion -->
                                <div class="form-group">
                                    <label for="descripcion">Descripción del Producto (breve y opcional):</label>
                                    <input class="form-control"  aria-label="Small" type="text" name="descripcion" id="descripcion"  placeholder="Descripción breve del Producto(opcional)" />
                                </div>
                                <!--Comentarios-->
                                <div class="form-group">
                                    <label for="comentarios">Comentarios Adicionales (opcional):</label>
                                    <textarea class="form-control"  aria-label="Small" id="comentarios" name="comentarios"  placeholder="Comentarios Adicionales del Producto"></textarea>
                                </div>
                            
                                <p></p>
                                <input type="submit" value="Guardar" />
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
            <br>
        </article>
    </div>
</body>

</html>