<!doctype html>
<html   
lang="es"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}"

>
<head>
    <title >Tinga de pollo con tomate</title>
    <link rel="stylesheet" type="text/css" href="resources/css/estiloRecetas.css">
</head>
    <body>
        <div layout:fragment="main-header">
            <br>
            <h1 class="mt-5 text-center mt-5"><strong>Tinga de pollo con tomate</strong> </h1>
        </div>
        <div layout:fragment="main-content">
            <article>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="text-center">
                                <img  src="img/tinguita.jpg" alt="Tinga" class="img-fluid rounded">
                            </div>
                        </div>
                        <div class="col-md-5 mx-auto">
                            <br>
                            <p>Te decimos el secreto para hacer la tinga de pollo más rica de todas. Esta receta es fácil, rápida, económica y llenadora, ¡ideal para cocinar todos los días!</p>
                            <p>¿Sabías que?</p>
                            <p>Al parecer, la tinga es un platillo mexicano de origen poblano; aunque hay distintas tingas a lo largo de México; algunas son vegetarianas (de zanahoria u hongos) y otras de pescado o hasta de chorizo verde (como la hacen en el Estado de México).</p>
                            <p>Tips</p>
                            <p>Puedes agregar papa y zanahoria ralladas a tu tinga para hacerla aún más nutritiva y deliciosa.</p>

                        </div>
                    </div>
                    
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <div class="recipe">
                            <div class="ingredients">
                                <h2>Ingredientes</h2>
                                <ul>
                                    <li>150 gramos de jitomate (o 2-3 jitomates)</li>
                                    <li>1 chile chipotle de lata</li>
                                    <li>1 taza de agua</li>
                                    <li>2 cucharadas de aceite</li>
                                    <li>1 cebolla blanca fileteada</li>
                                    <li>1 diente de ajo finamente picado</li>
                                    <li>1 cubo de 10.5 gramos de Knorr® Tomate</li>
                                    <li>500 gramos de pechuga de pollo cocida y deshebrada</li>
                                    <li>1 hoja de laurel</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div id="preparacion" class="recipe">
                            <h2>Método de preparación</h2>
                            <ol>
                                <li>Licuar los jitomates con el chipotle y el agua. Colar y reservar.</li>
                                <li>Calentar el aceite en una olla extendida y sofreír la cebolla con el ajo hasta que esté suave y transparente.</li>
                                <li>Verter el caldillo de jitomate con chipotle y cocinar a fuego medio alto durante 10 minutos. Luego, añadir el cubo de Knorr® Tomate y cocinar durante 2 minutos más.</li>
                                <li>Agregar el pollo y el laurel y dejar que se cocine a fuego medio durante10 minutos moviendo de vez en cuando.</li>
                                <li>Rectificar sazón y ¡listo! Servir la tinga acompañada de tostadas o de tortillas calientitas para hacer tacos.</li>
                                
                                
                                <!-- Agrega más pasos de preparación según sea necesario -->
                            </ol>
                        </div>
                    </div>                
                </div>
                <div class="row">
                        <h4>Referencias</h4>
                        <ol>
                            <li>Tinga de pollo con tomate. (s. f.). Recepedia.com. Recuperado 19 de septiembre de 2023, de <a href="https://www.recepedia.com/es-mx/receta/aves/124133-tinga-de-pollo-con-tomate/">https://www.recepedia.com/es-mx/receta/aves/124133-tinga-de-pollo-con-tomate/</a></li>
                        </ol>
                </div>
            </article>
        </div>
        
    </body>
</html>
