<!DOCTYPE html>
<html   
        lang="es"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}" >
<head>
    <title>Editar Producto</title>
    
</head>
<body>
    <div layout:fragment="main-header">
        <br>
        <h1 class="mt-5 text-center"><strong>Editar producto</strong></h1>
    </div>
    <div layout:fragment="main-content">
        <article>
            <div class="row">
                <div class="col-md-5 mx-auto my-2">
                    <div class="card border-secundary">
                        <div class="card-body">
                            <form th:action="@{/inventario/guardarEdicion}" method="POST" th:object="${inventario}">
                                <!--Nombre del producto-->

                                <div class="form-group">
                                    <input
                                        type="hidden" 
                                        class="form-control"  
                                        aria-label="Small" 
                                        placeholder="Id de Ingrediente" 
                                        id="idIngrediente" 
                                        name="idIngrediente"
                                        th:value="${inventario.idIngrediente}">
                                </div>

                                <div class="form-group">
                                    <label for="nombre">Nombre del producto</label>
                                    <input
                                        type="text" 
                                        class="form-control"  
                                        aria-label="Small" 
                                        placeholder="Nombre del producto" 
                                        id="nombre" 
                                        name="nombre"
                                        th:value="${inventario.nombre}">
                                    <span class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Name Error</span>
                                </div>
                            
                                <!--Tipo de producto-->
                                <div class="form-group">
                                    <label for="tipoProducto">Tipo de Producto:</label>
                                         <select id="tipoProducto" class="form-control" name="tipoProducto" 
                                         required >
                                             <!--
                                             <option value="Perecedero">Perecedero</option>
                                             <option value="Empacar">para empacar</option>-->
                                             <option value="">Selecciona un tipo de producto</option>
                                             <option th:each="tipoProducto : ${listaDeTiposDeProducto}"
                                                     th:value="${tipoProducto.idTipoProducto}"
                                                     th:text="${tipoProducto.tipo}"
                                                     th:selected="${tipoProducto.idTipoProducto == inventario.tipoProducto?.idTipoProducto}">
                                                     <!-- acceder a un atributo 
                                                         ?. si el lado izq solo dame un null, si no comparalos
                                             -->
                                             </option>
                                             <!--th:selected="${tipoSemestre.clave == semestre.tipo?.clave}"
                                                los select funcionan con un select pero no con value
                                                th:field="*{tipoProducto}"
                                             -->
                                         </select> 
                                     <span class="text-danger" th:if="${#fields.hasErrors('tipoProducto')}" th:errors="*{tipoProducto}">Tipo Producto Error</span>
                                 </div>
                                <!-- Fecha de caducidad -->
                                <div class="row" th:object="${inventario.periodo}">
	                                <!-- Fecha 
	                                th:value="${inventario.periodo.adquisicion}"
	                                -->
	                                <div class="form-group">
	                                    <label for="adquisicion">Fecha de Adquisicion:</label>
	                                    <input
	                                        type="date" 
	                                        class="form-control" 
	                                        id="adquisicion" 
	                                        name="adquisicion"
	                                        required th:field="*{adquisicion}">
	                                    <span class="text-danger" th:if="${#fields.hasErrors('adquisicion')}" th:errors="*{adquisicion}">Name Error</span>
	                                     <span class="text-danger row" th:if="${#fields.hasGlobalErrors()}" th:errors="${inventario.periodo}">Name Error</span>
	                                </div>
	                                
	                                <!-- Fecha de caducidad FALTARÍA OTRO DIV? -->
	                                <div class="form-group">
	                                    <label for="expiracion">Fecha de Caducidad:</label>
	                                    <input
	                                        type="date" class="form-control" id="expiracion" name="expiracion"
	                                        th:field="*{expiracion}">
	                                    <span class="text-danger" th:if="${#fields.hasErrors('expiracion')}" th:errors="*{expiracion}">Name Error</span>
	                                </div>
	                                <!-- th:value="${inventario.periodo.expiracion}"  -->
	                           </div>
                            
                                <!--Cantidad en existencia-->
                                <div class="form-group">
                                    <label for="cantidad">Cantidad en existencia</label>
                                    <input
                                        type="number" 
                                        class="form-control"  
                                        aria-label="Small" 
                                        name="cantidad" 
                                        id="cantidad"  
                                        placeholder="Stock Existente" 
                                        th:value="${inventario.cantidad}">
                                    <span class="text-danger" th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}">Name Error</span>
                                </div>
                                <!--Medida-->
                                <div class="form-group">
                                    <label for="medida">Medida:</label>
                                    <select id="medida" name="medida" class="form-control" required >
                                        <option value="g">Gramos</option>
                                        <option value="kg">Kilogramos</option>
                                        <option value="ml">Mililitros</option>
                                        <option value="l">Litros</option>
                                        <option value="p">Pieza(s)</option>
                                    </select>
                                    <div class="text-danger">
                                    
                                    </div>
                                </div>
                                <!--Precio-->
                                <div class="form-group">
                                    <label for="precio">Precio</label>
                                    <input
                                        type="number" 
                                        id="precio" 
                                        name="precio" 
                                        class="form-control"  
                                        aria-label="Small" 
                                        placeholder="Precio del Producto" 
                                        th:value="${inventario.precio}">
                                    <span class="text-danger" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}">Name Error</span>
                                </div>
                                <!--Nombre del provedor-->
                                <div class="form-group">
                                    <label for="Proveedor">Nombre del Proveedor:</label>
                                    <input
                                        type="text" 
                                        class="form-control"  
                                        aria-label="Small" 
                                        id="Proveedor" 
                                        name="Proveedor" 
                                        placeholder="Proveedor del Producto" 
                                        th:value="${inventario.Proveedor}">
                                    <span class="text-danger" th:if="${#fields.hasErrors('Proveedor')}" th:errors="*{Proveedor}">Name Error</span>
                                </div>
                                <!--Descripcion -->
                                <div class="form-group">
                                    <label for="descripcion">Descripción del Producto (breve y opcional):</label>
                                    <input
                                        class="form-control"  
                                        aria-label="Small" 
                                        type="text" 
                                        name="descripcion" 
                                        id="descripcion"  
                                        placeholder="Descripción breve del Producto(opcional)"
                                        th:value="${inventario.descripcion}">
                                    <span class="text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}">Name Error</span>
                                </div>
                                <!--Comentarios-->
                                <div class="form-group">
                                    <label for="comentarios">Comentarios Adicionales (opcional):</label>
                                    <textarea class="form-control"  aria-label="Small" id="comentarios" name="comentarios"  placeholder="Comentarios Adicionales del Producto" th:value="${inventario.comentarios}"></textarea>
                                </div>
                            
                                <p></p>
                                <input type="submit" class="btn btn-success" value="Guardar cambios" >
                                <a th:href="@{/inventario/inventario}" class="btn btn-danger">Cancelar</a>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
            <br>
        </article>
    </div>
</body>

</html>